:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #6b7376;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-hover: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
    --background: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
}
body{
    font-style: 'Lato', sans-serif;
}
#app{
    width: 100%;
    height: 100vh;
    background: var(--background);
    padding: 40px;

}

.sidebar{
    background-color: var(--color-white);
    overflow-y: auto;
}
.header{
    background-color: var(--color-headers);
    height: 70px;
}
.notifications{
    background-color: var(--color-notification);
    height: 50px;
}
.header-main{
    background-color: var(--color-headers);
    height: 70px;
    border-left: solid 1px var(--color-text-grey);
}

.chat-main{
    background-image: url(/img/mine.jpg);
    height: calc(100% - 140px);
}

li{
    list-style: none;
}
.img-avatar{
    width: 50px;
    height: 50px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.last-grey{
    color: var(--color-light-icons);
}

.footer.main{
    height: 70px;
}
i{
    color: var(--color-dark-grey);
    font-size: 1.5rem;
}

input{
    border-radius: 10px;
}

#sending{
   color: rgb(0, 149, 255);
}
   

#bell{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
   
}
#bell i{
    color: var(--color-notification);
}

.sent{

    background-color: var(--color-sent-message);
    padding: 10px;
    border-radius: 10px;
    align-content: flex-end;
   
}


.received{

    background-color: var(--color-white);
    padding: 10px;
    border-radius: 10px;
    align-content: flex-start;
    
}