<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app">
      <main class="container border h-100">
        <div class="row h-100 flex-nowrap">
          <!-- sidebar -->
          <div class="col-12 col-md-4 sidebar">
            <div class="row h-100 flex-column flex-nowrap">
              <!-- header sidebar -->
              <div
                class="col-12 header d-flex justify-content-between py-2 px-4 border-bottom"
              >
                <div class="d-flex">
                  <img src="/img/avatar_io.jpg" alt="io" class="img-avatar" />
                  <span class="px-2">Chiara (io)</span>
                </div>
                <div class="d-flex flew-nowrap justify-content-between py-2">
                  <i class="fa-solid fa-circle-notch px-2 last-grey"></i>
                  <i class="fa-solid fa-message px-2 last-grey"></i>
                  <i class="fa-solid fa-ellipsis-vertical px-2 last-grey"></i>
                </div>
              </div>
              <!-- notifiche sidebar -->
              <div class="col-12 notifications d-flex">
                <span id="bell">
                  <i class="fa-solid fa-bell-slash fs-4 m-2"></i
                ></span>
                <div class="d-flex flex-column ps-2">
                  <span>Ricevi notifiche di nuovi messaggi</span>
                  <span class="text-decoration-underline last-grey"
                    >Attiva notifiche desktop</span
                  >
                </div>
              </div>
              <!-- ricerca -->
              <div class="col-12 pt-1">
                <i class="fa-solid fa-magnifying-glass p-2"></i>
                <input
                  type="text"
                  class="w-75 ps-2 m-1 border-black"
                  placeholder="Cerca" v-model="searchText"
                />
              </div>
              <!-- contatti -->
              <div class="col-12 flex-grow-1">
                <ul class="p-0">
                  <li
                    v-for="(user, index) in contacts"
                    class="d-flex justify-content-between p-2 border-bottom" @click="getActive(index)"
                  >
                    <div class="d-flex flex-row"  >
                      <img
                        :src="user.avatar"
                        alt="user.name"
                        class="img-avatar"
                      />
                      <div class="d-flex flex-column ms-2">
                        <span class="align-items-center">{{user.name}}</span>
                        <span class="text-grey">Ultimo messaggio inviato</span>
                      </div>
                    </div>
                    <div>
                      <span class="text-grey extra-small">ore 12:00</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- main content -->
          <div class="col-12 col-md-8 p-0">
            <!-- header main content -->
            <div
              class="header-main p-2 d-flex justify-content-between align-content-between"
            >
              <div class="d-flex flex-row">
                <img
                  src="/img/avatar_1.jpg"
                  alt="avatar-1"
                  class="img-avatar"
                />
                <div class="d-flex flex-column">
                  <span>Michele</span>
                  <span class="last-grey"> Ultimo accesso oggi alle 12:00</span>
                </div>
              </div>
              <div class="d-flex flex-row flex-nowrap p-2">
                <i class="fa-solid fa-magnifying-glass px-2 last-grey"></i>
                <i class="fa-solid fa-paperclip px-2 last-grey"></i>
                <i class="fa-solid fa-ellipsis-vertical px-2 last-grey"></i>
              </div>
            </div>
            <!-- main chat -->
            <div class="chat-main pt-3 flex-grow-1 overflow-hidden">
              <div class="container d-flex flex-column">
            
                <div class="d-flex justify-content-between" :class="msg.status" v-for ="(msg,index) in contacts[activeIndex].messages">
                  <span class="align-content-start">{{msg.message}}</span> 
                  <span class="last-grey align-content-end align-items-bottom extra-small" >{{msg.date}}</span>
                </div>
                
                  
               
              </div>
            </div>
            <!-- main footer -->
            <div
              class="footer-main header d-flex justify-content-between p-3 align-items-center"
            >
              <i class="fa-regular fa-face-smile py-1 px-3"></i>
              <input
                type="text"
                class="border-0 w-75 p-2"
                placeholder="Scrivi un messaggio" 
              />
              <i class="fa-regular fa-paper-plane" id="sending"></i>

              <i class="fa-solid fa-microphone py-1 px-3"></i>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
